[Desktop Entry]
Type=Application
Name=ArchPM
GenericName=Process Manager
Comment=Keep an eye on processes, CPU, GPU and memory
Exec=/usr/bin/python3 -m archpm
Path=@ROOT@
Icon=utilities-system-monitor
Terminal=false
Categories=System;Monitor;Qt;
StartupWMClass=archpm
StartupNotify=true
